{% extends "Base/Base.html"%}
{% load staticfiles %}
{% block Title %}
Lista De Cuentas
{% endblock Title %}
{% block Styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static "bower_components/datatables.net-bs/css/dataTables.bootstrap.css" %}">
{% endblock Styles %}
{% block CONTENT %}
{% if request.user.username == 'UrbanMan' %}
  <section class="content-header">
        <h1>
         Cuentas
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">Cuentas</a></li>
          <li class="active">Cuentas-Lista</li>
        </ol>
  </section>
  <section class="content">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="box">
            <div class="box-header">
              <h3 style="text-align: center;">Lista De Cuentas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Numero De Cuenta</th>
                  <th>Banco</th>
                  <th>DNI o RIF</th>
                  <th>Tipo De Cuenta</th>                
                </tr>
                </thead>
                <tbody>
                {% for Metodo in Lista %}
                <tr id="NuevoProducto-{{Producto.id}}">
                  <td>{{Metodo.Nombre}}</td>
                  <td>{{Metodo.NumeroCuenta}}</td>
                  <td>{{Metodo.Banco}}</td>
                  <td>{{Metodo.Dni}}</td>
                  <td>{{Metodo.Cuenta}}</td>
                </tr>
                {% endfor %}
                </tbody>
      
              </table>
            </div>
            <!-- /.box-body -->
           
              <div class="box-body pad table-responsive">
              <a href="{% url 'Producto:Banco' %}" type="button" class="btn bg-olive btn-flat margin btn-block">
              Añadir Producto
              <i class="fa fa-plus-circle"></i>
              </a>
          </div>
          </div>
          <div class="col-xs-2">
            
          </div>
          <!-- /.box -->
          
<!-- DataTables -->
{%endif%}
  {% if request.user.username != 'UrbanMan' %}
<section class="content-header">
      <h1 class="text-center">
        404 Error Page
      </h1>
      <h2 class="text-center">Lo sentimos pero su usuario no tiene permiso</h2>
      </ol>
    </section>
  {%endif%}
  {% endblock CONTENT %}
{% block SCRIPTS %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>
<script type="text/javascript" src="{% static "Dist/Js/EliminarProducto.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.25.0/dist/sweetalert2.all.min.js"></script> 
{% endblock SCRIPTS %}
