{% extends "Base/Base.html"%}
{% load staticfiles %}
{% block Title %}
Nueva Categoria
{% endblock Title %}
{% block Styles %}
<link rel="stylesheet" href="{% static "bower_components/datatables.net-bs/css/dataTables.bootstrap.css" %}">
{% endblock Styles %}
{% block CONTENT %}
<section class="content-header">
            <h1>
             Categoria
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li><a href="#">Categoria</a></li>
              <li class="active">Nueva Categoria</li>
            </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-3">
                <h2>Añadir Categoria</h2>
            </div>
            <div class="col-xs-6">
                <!-- Construir Mi Formulario -->
            <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ Form.as_p }}
                        <button class="btn btn-primary btn-block" type="submit">Enviar</button>
                        <a class="btn btn-warning btn-block" href="">Regresar</a>
                        </form>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </section>
{% endblock CONTENT %}